* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 3.3rem;
  color: hsl(212, 21%, 14%);
}

p {
  font-size: 1.83rem;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
}

.price {
  display: flex;
  gap: 1.5rem;
}

.price h2 {
  color: hsl(158, 36%, 37%);
}

.price p {
  text-decoration: line-through;
  position: relative;
  top: 1rem;
  font-size: 1.3rem;
}

.pic {
  border-radius: 8px 8px 0px 0px;
}

.image-container {
  max-width: 1200px;
  width: 100%;
}

img {
  max-width: 100%;
}

.mini {
  width: 14px;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}

main {
  background-color: hsl(30, 38%, 92%);
  padding: 2.5rem 1.5rem;
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
}

.product {
  font-size: 1.3rem;
  letter-spacing: 3.5px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 2rem 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: hsl(158, 36%, 37%);
  border-radius: 8px;
  gap: 1rem;
  font-weight: 600;
}

/*page responsiveness*/

@media (min-width: 716px) {
  html {
    font-size: 43.75%;
  }

  main {
    padding: 11.5rem;
  }

  h2 {
    font-size: 5.9rem;
  }

  p {
    font-size: 2.8rem;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image-container {
    background-image: url("images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 0px 0px 8px;
  }

  .price p {
    top: 3rem;
  }

  .pic {
    visibility: hidden;
  }

  .details {
    padding: 3rem;
  }

  .btn:hover {
    background-color: hsl(158, 41%, 18%);
  }
}

@media (min-width: 850px) {
  h2 {
    font-size: 7rem;
  }
  main {
    padding: 19rem;
  }
  .product {
    font-size: 1.6rem;
  }
}

@media (min-width: 1002px) {
  html {
    font-size: 50%;
  }

  p {
    font-size: 3rem;
  }
  main {
    padding: 15rem;
  }
}

@media (min-width: 1113px) {
  h2 {
    font-size: 7.5rem;
  }
  main {
    padding: 20rem;
    max-width: 1200px;
  }
}
